@charset "UTF-8";

*{
	font-family: arial, helvetica, sans-serif;
	/* height: 100%; */
}

body{
	background-image: linear-gradient(to right, #6FBFBF, #F2CEAE);
	padding: 20px;
}

p{
	text-align: justify;
}

main{
	background-color: white;
	width: 600px;
	margin: auto;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 5px 5px 15px #A3BCBF;
}

h1{
	color: #038C8C;
	text-align: center;
	text-shadow: 1px 1px 2px black;
}

h2{
	color: #038C8C;
}